@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --card-radius: 1rem;
}

* {
    box-sizing: border-box;

    
}


body {
    font-family: "Red Hat Display", serif;

    
    margin: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background: url("./images/pattern-background-desktop.svg") no-repeat;
    background-color: hsl(225, 100%, 94%);

    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    background-color: hsl(225, 100%, 98%);

    width: 25rem;
    text-align: center;
    border-bottom-left-radius: var(--card-radius);
    border-bottom-right-radius: var(--card-radius);
}

h1 {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    margin: 0;
}

.hero-img {
    width: 100%;
    border-top-left-radius: var(--card-radius);
    border-top-right-radius: var(--card-radius);
}

.summary {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.plan {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-block: 1rem;
    border-radius: 1rem;

    background-color: hsl(225, 100%, 94%);
}

.plan-freq {
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}
.plan p {
    margin: .5rem;
}
.plan a {
    margin-left: auto;
}


button {
    padding: .5rem;
    font-weight: 700;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}